# Dependências
node_modules/

# Variáveis de ambiente
.env

# Logs
logs
*.log
npm-debug.log*

# Arquivos de ambiente de desenvolvimento
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de configuração do editor
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
